<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-sacale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie-edge">
	<title>EJemplo de Bootsrap en Spring</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
	<script src="/js/jquery-3.6.0.min.css"></script>
	<scrip src="js/popper.min.js"></scrip>
	<script src="/js/bootstrap.min.js"></script>
	
</head>
<body>
<div class="container" style="background:grey">
	<div class="jumbotron">
		<h1 class="display-4">Usando Bootstrap</h1>
		<p class="lead">
			EJemplo de Bootstrap en spring
		</p>
		<hr class="my-4">
		<p>El siguiente es el cuerpo del documento...</p>
		<div>
		<p>Contenido del documento.....</p>
		</div>
		<hr class="my-4">
		<div>
			<div class="row">
				<div class="col-2"> </div>
				<div class="col-8">
					<p>Desarrollo de Aplicaciones Web. Moises Gaona Oropeza</p>
					<p>ITSSNP 2022</p>
				</div>
				<div class="col-2"> </div>
			</div>
		</div>
	</div>
</div>
</body>
</html>